# Django Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True

# Cloudflare R2 Storage Configuration
USE_CLOUDFLARE=False
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET_NAME=cms-backend
CLOUDFLARE_ENDPOINT_URL=

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379/1

# Celery Configuration
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Postmark Email Configuration
POSTMARK_API_KEY=