# Django Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True

# Cloudflare R2 Storage Configuration
USE_CLOUDFLARE=False
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET_NAME=cms-backend
CLOUDFLARE_ENDPOINT_URL=