# Django Configuration
SECRET_KEY=your-secret-key
DEBUG=True

# Cloudflare R2 Storage Configuration
USE_CLOUDFLARE=true
CLOUDFLARE_ACCESS_KEY_ID=0741e8aa92612318a2ff0c124ebc2145
CLOUDFLARE_SECRET_ACCESS_KEY=7e16d930df27b6a7950f968d7de83df657de0ac5d2f063f9e2d928cf44f8d7e3
CLOUDFLARE_BUCKET_NAME=cms-backend
CLOUDFLARE_ENDPOINT_URL=https://aaa36fea5f50e14155707b8a319e6efe.r2.cloudflarestorage.com
CLOUDFLARE_PUBLIC_URL=https://pub-e469974cb03e468b836368331b75fd90.r2.dev

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379/1

# Celery Configuration
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Postmark Email Configuration
POSTMARK_API_KEY=
ADMIN_EMAIL=admin@yourdomain.com
FROM_EMAIL=noreply@yourdomain.com